<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.styspace.mallDemo.mapper.UserMapper">
	<insert id="register" parameterType="com.styspace.mallDemo.domain.myBatis.User">
		INSERT INTO user(userName,password,cellPhone,email,isVip,cTime,mTime,lastLogin)
		VALUES(#{userName},#{password},#{cellPhone},#{email},#{isVIP},#{cTime},#{mTime},#{lastLogin})
	</insert>
</mapper>